body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  max-width: 700px;
  margin: 0 auto;
}
header {
  background-color: #0d2a4d;
  text-align: center;
  padding: 30px 0;
  color: #fff;
}
.main-box {
  background-color: #eee;
  min-height: calc(100vh - 12vh);
  position: relative;
}
#box {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 1;
  opacity: 0.5;
}
footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 60px;
  background-color: #0068ff;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: right;
  align-items: center;
}
#logoLink {
  height: 48px;
}
#logoImg {
  height: 48px;
  padding: 0 6px;
}
.text-content {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  text-align: center;
}
.creative-box {
  border: 5px solid #bacae4;
  height: 250px;
  position: absolute;
  overflow: hidden;
  width: 300px;
  background-color: #fff;
  right: 0;
}
.header-line {
  color: black;
  font-size: 22px;
  margin-top: 100px;
  display: block;
  text-align: center;
}
.text {
  color: black;
  font-size: 18px;
  text-align: center;
  -webkit-animation: slideIn 2s forwards;
  -moz-animation: slideIn 2s forwards;
  animation: slideIn 2s forwards;
}
.creative-box .car {
  position: absolute;
  -webkit-animation: slideIn 2s forwards;
  left: 26%;
  -moz-animation: slideIn 1s forwards;
  animation: slideIn 1s forwards;
}
@keyframes slideIn {
  0% {
    transform: translateX(-900px);
  }
  100% {
    transform: translateX(400px);
  }
}
.sale {
  color: black;
  font-size: 16px;
  text-align: center;
  margin-bottom: 20px;
  -webkit-animation: slideIn 2.4s forwards;
  -moz-animation: slideIn 2.4s forwards;
  animation: slideIn 2.4s forwards;
}
@keyframes slideIn {
  0% {
    transform: translateX(-900px);
  }
  100% {
    transform: translateX(0);
  }
}
.creative-box:hover .car {
  -moz-transform: scale(1.1) !important;
  -webkit-transform: scale(1.1) !important;
  transform: scale(1.1) !important;
}
.creative-box:hover .left-side a {
  transform: scale(1.1);
}
.creative-box:hover .right-side img {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.left-side {
  position: absolute;
  left: 0;
  bottom: 20px;
}
a {
  text-decoration: none;
}
.left-side a {
  width: 101px;
  background-image: linear-gradient(rgb(13, 42, 77), rgb(13, 42, 77));
  background-color: rgb(13, 42, 77);
  height: 24px;
  color: #ffffff;
  padding: 6px 12px 4px;
  margin-left: 10px;
  display: block;
  text-align: center;
}
.right-side {
  position: absolute;
  right: 0;
  bottom: 20px;
}
.right-side img {
  height: 30px;
  width: auto;
}
.details {
  position: absolute;
  right: 20px;
  bottom: 67px;
  font-size: 11px;
}
